In [12]:
import pandas as pd
import requests
import os


print(os.getcwd())
df = pd.read_csv('Data.txt',header=None, names = ['input'])

/Users/paulinafigol/Documents/adventofcode_2019-master

In [13]:
df.head()

    input
0  118602
1   60644
2  136064
3  134771
4   62530

In [31]:
import numpy as np
consumption = np.floor(df/3)-2

consumption.head()

     input
0  39532.0
1  20212.0
2  45352.0
3  44921.0
4  20841.0

In [29]:
consumption.sum()

input    3479429.0
dtype: float64